**Exercise 1**

1.

In [2]:
import pandas as pd

df = pd.read_csv("./police.csv")
print(df.head(10))

   raw_row_number        date      time                          location  \
0               1  2011-01-01  01:00:00                        TRO COUNTY
1               2  2011-01-01  01:00:00                        TRO COUNTY
2               3  2011-01-01  01:29:00     2 WY 22|2 WY 22, TETON COUNTY
3               4  2011-01-01  03:00:00     111 I 80 E, SWEETWATER COUNTY
4               5  2011-01-01  04:15:00  10 26|10 26|10 26, PLATTE COUNTY
5               6  2011-01-01  05:55:00                3 22, TETON COUNTY
6               7  2011-01-01  06:20:00                   SUBLETTE COUNTY
7               8  2011-01-01  07:30:00          8 I 25 N, LARAMIE COUNTY
8               9  2011-01-01  08:00:00           95 191, SUBLETTE COUNTY
9              10  2011-01-01  08:15:00               31 114, PARK COUNTY

         county_name  subject_age subject_race subject_sex officer_id_hash  \
0     Natrona County         23.0        white        male      791f232f61
1     Natrona County         24.0        white        male      791f232f61
2       Teton County         45.0        white        male      f369634e28
3  Sweetwater County         49.0        white        male      decf9509bb
4      Platte County         36.0     hispanic        male      3f486394a7
5       Teton County         33.0        white        male      eaeaf19018
6    Sublette County         54.0        white        male      58747fe63d
7     Laramie County         48.0        white        male      a4ceae6655
8    Sublette County         38.0        white        male      eb37cf8bfd
9        Park County         28.0        white        male      4a74d2fd1f

  department_id       type                                          violation
0             B  vehicular                                  SEAT BELT: DRIVER
1             B  vehicular                               SEAT BELT: PASSENGER
2             K  vehicular  DUI: ALCOHOL 0.08% OR MORE|DRIVE VEH W/I SINGL...
3             E  vehicular   FAIL TO REPORT OVER $1,000 PROP DAMAGE OR INJURY
4             F  vehicular  PEDESTRIAN UND INFLU OF ALCOHOL OR CONTR SUBST...
5             K  vehicular   DRIVE WHILE LIC CANCELLED, SUSPENDED, OR REVOKED
6             T  vehicular         EXCEED POSTED SPEED IN SUPERINTENDENT ZONE
7             A  vehicular         EXCEED POSTED SPEED IN SUPERINTENDENT ZONE
8             T  vehicular                          COMPULSORY AUTO INSURANCE
9             N  vehicular          EXCEED 65 MPH ON PRMRY/SCNDRY HWY (SPEED)

In [3]:
print(df.isna())

        raw_row_number   date   time  location  county_name  subject_age  \
0                False  False  False     False        False        False
1                False  False  False     False        False        False
2                False  False  False     False        False        False
3                False  False  False     False        False        False
4                False  False  False     False        False        False
...                ...    ...    ...       ...          ...          ...
173306           False  False  False     False        False        False
173307           False  False  False     False        False        False
173308           False  False  False     False         True        False
173309           False  False  False     False        False        False
173310           False  False  False     False        False        False

        subject_race  subject_sex  officer_id_hash  department_id   type  \
0              False        False            False          False  False
1              False        False            False          False  False
2              False        False            False          False  False
3              False        False            False          False  False
4              False        False            False          False  False
...              ...          ...              ...            ...    ...
173306         False        False            False          False  False
173307         False        False            False           True  False
173308         False        False            False          False  False
173309         False        False            False          False  False
173310         False        False            False          False  False

        violation
0           False
1           False
2           False
3           False
4           False
...           ...
173306      False
173307      False
173308      False
173309      False
173310      False

[173311 rows x 12 columns]